beautifulsoup4==4.13.4
google-generativeai==0.8.5
ipython-genutils==0.2.0
ipython-sql==0.5.0
ipython==7.34.0
ipywidgets==7.7.1
langchain-core==0.3.67
langchain-text-splitters==0.3.8
langchain==0.3.26
matplotlib-inline==0.1.7
matplotlib-venn==1.1.2
matplotlib==3.10.0
numpy==2.0.2
pandas-datareader==0.10.0
pandas-gbq==0.29.1
pandas-stubs==2.2.2.240909
pandas==2.2.2
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
requests==2.32.3
scipy==1.15.3